.shop-page {
  display: flex;
  flex-direction: column;
}

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
}

.product-card {
  height: 12em;
  width: 60em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 1em;
}

.title-container {
  width: 20em;
}

.product-image {
  height: 8em;
  width: 7em;
  object-fit: cover;
}

.adjust-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12em;
}