:root {
  --main-dark-color: #1e000e;
  --second-dark-color: #823038;
  --lt-color: #deba6f;
  --second-lt-color: #e5f77d;
  --ter-lt-color: #f4f7be;
}

.App {
  box-sizing: border-box;
}

/* header styling */

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  background-color: var(--main-dark-color);
  color: white;
}

#logo {
  height: 5em;
  width: auto;
  border-radius: 50%;
}

.left-container {
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
}

.link {
  list-style: none;
  margin: 0 2em;
  cursor: pointer;
  display: flex;
}

.link-tag {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.link-tag:hover {
  color: gray;
}

.right-container {
  display: flex;
  align-items: center;
}

#log-in-btn {
  height: fit-content;
}

/* Sign In page */

.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.781);
}

.page .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 15em;
  padding: 1em;
  border-radius: 1em;
}

.sign-in { 
  height: 10em;
}

li {
  list-style: none;
}

/* shopping pages */

.shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-display {
  width: 100vw;
  height: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) ) ;
}