:root {
  --main-dark-color: #1e000e;
  --second-dark-color: #823038;
  --lt-color: #deba6f;
  --second-lt-color: #e5f77d;
  --ter-lt-color: #f4f7be;
}

.App {
  box-sizing: border-box;
}

/* header styling ------------------------------------------------------------------------*/

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-dark-color);
  color: white;
  padding: .55em 0;
}

/* left side of header ------------*/

.left-container {
  display: flex;
  align-items: center;
}

.icon-holder {
  padding-left: 5em;
}

#logo {
  height: 3.5em;
  width: auto;
  border-radius: 50%;
}

/* right side of header ------------*/

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
  height: 4em;
  padding-right: 5em;
}

.right-container {
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 50px;
}

.link-tag {
  color: white;
  margin: 0 2em;
  cursor: pointer;
  display: flex;
}

.utility-container {
  display: flex;
  width: 15vw;
  height: 4em;
  justify-content: space-between;
  align-items: center;
}

.shopping-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4em;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 4em;
}

a:hover,
a.active {
  color: var(--ter-lt-color);
  border-bottom: 5px solid var(--ter-lt-color);
}



#log-in-btn {
  height: fit-content;
}

/* Sign In page ------------------------------------------------------------------------*/

.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.781);
}

.page .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 15em;
  padding: 1em;
  border-radius: 1em;
}

.card a {
  color: black;
}

.sign-in { 
  height: 10em;
}

li {
  list-style: none;
}

/* shopping pages */

.shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-display {
  width: 100vw;
  height: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) ) ;
}