.App {
  box-sizing: border-box;
}

/* header styling */

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  background-color: rgb(5, 5, 52);
  color: white;
}

.left-container {
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
}

.link {
  list-style: none;
  margin: 0 2em;
  cursor: pointer;
}

.link-tag {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.link-tag:hover {
  color: gray;
}

/* Sign In page */

.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.781);
}

.page .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 15em;
  padding: 1em;
  border-radius: 1em;
}

.sign-in { 
  height: 10em;
}