.App {
  box-sizing: border-box;
}

/* header styling */

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  background-color: rgb(5, 5, 52);
  color: white;
}

.left-container {
  display: flex;
  align-items: center;
}

.link-list {
  display: flex;
}

.link {
  list-style: none;
  margin: 0 2em;
  cursor: pointer;
}